/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block-start: 10px;
  font-family: var(--font-family-main, "IBM Plex mono", sans-serif);
  background-color: var(--bg-color, #000028);
  background-image: var(--main-bg-image, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  border-inline-end: 1px solid var(--header-decor-color, #ff0070);
  border-block-start: 1px solid var(--header-decor-color, #ff0070);
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  display: block;
  border-inline-start: 1px solid var(--header-decor-color, #ff0070);
  border-block-end: 1px solid var(--header-decor-color, #ff0070);
  block-size: 25px;
  inline-size: 25px;
}

.header__rec {
  position: absolute;
  top: 0px;
  right: 28px;
  justify-self: end;
  align-self: start;
  color: var(--accent-color, #ff0070);
  font-family: var(--font-family-main, "IBM Plex Mono");
  font-weight: var(--font-weight-regilar, 400);
  font-size: var(--main-font-size, 18px);
  font-style: var(--font-style-main, normal);
  line-height: 1.39;
  text-align: center;
}

.header__rec::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  display: block;
  margin-inline-start: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
  transform: translate(0, -50%);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-block-start: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  list-style: none;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding-inline: 13px;
  padding-block-start: 1.5px;
  padding-block-end: 3.5px;
  color: var(--header-menu-button-color, #ff0070);
  font-family: var(--font-family-main, "IBM Plex Mono");
  font-weight: 400;
  font-size: var(--main-font-size, 18px);
  font-style: var(--font-style-main, normal);
  line-height: 1;
  text-transform: lowercase;
  background-color: initial;
}

.header__theme-menu-button:hover {
  outline: 1px solid
    var(--header-menu-button-hover-color, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color, #ff0070);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--header-menu-button-color, #ff0070);
}

.header__title {
  justify-self: start;
  align-self: flex-start;
  padding-block-start: 7px;
  color: var(--brand-color, #db00ff);
  font-family: var(--font-family-main, "IBM Plex Mono", sans-serif);
  font-weight: var(--font-weight-bold, 700);
  font-size: var(
    --font-size-title-mobile,
    clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)
  );
  font-style: var(--font-style-main, normal);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  margin-block-start: 30px;
  font-family: var(--font-family-main, "IBM Plex Mono", sans-serif);
  font-weight: var(--font-weight-bold, 700);
  font-size: var(--main-font-size, 18px);
  font-style: var(--font-style-main, normal);
  line-height: var(--line-height-default, 1.3);
}

.title-decor {
  color: var(--title-decor-color, #000028);
  background-color: var(--accent-color, #ff0070);
  block-size: fit-content;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  margin-block-end: 40px;
  padding-block-start: 30px;
}

.main__section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  font-family: var(--font-family-main, "IBM Plex Mono");
  font-weight: var(--font-weight-bold, 700);
  font-size: var(--main-font-size, 18px);
  font-style: var(--font-style-main, normal);
  line-height: var(--line-height-default, 1.3);
}

.main__title {
  color: var(--main-title-color, #ff0070);
  font-size: var(--main-font-size, 18px);
}

.main__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.main__content__element {
  color: var(--main-content-element-text, #f1b2ce);
  font-family: var(--font-family-main, "IBM Plex Mono", sans-serif);
  font-weight: var(--font-weight-bold, 700);
  font-size: var(--main-font-size, 18px);
  font-style: var(--font-style-main, normal);
  line-height: var(--line-height-default, 1.3);
}

.main__subtitle {
  color: var(--title-decor-color, #000028);
  font-size: var(--main-font-size, 18px);
}

.main__subtitle--regular {
  font-weight: var(--font-weight-regilar, 400);
}

.main__text {
  padding-block-start: 10px;
  font-weight: var(--font-weight-regilar, 400);
}

.main__text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.main__text-link:hover {
  border-block-end: 1px solid var(--main-content-element-text, #f1b2ce);
}

.main__text-link:focus {
  outline: none;
}

.main__text-link:focus-visible {
  outline: 1px solid var(--main-content-element-text, #f1b2ce);
}

.main__subtitle__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.main__section_gallery {
  gap: 10px;
}

.main__title_gallery {
  color: var(--title-decor-color, #000028);
  font-family: var(--font-family-main, "IBM Plex Mono", sans-serif);
  font-weight: var(--font-weight-bold, 700);
  font-size: var(--main-font-size, 18px);
  font-style: var(--font-style-main, normal);
  line-height: var(--line-height-default, 1.3);
}

.main__gallery__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  gap: 4px;
}

.main__gallery__picture {
  object-fit: contain;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  justify-self: center;
  align-self: center;
  color: var(--brand-color, #db00ff);
  font-family: var(--font-family-main, "IBM Plex Mono", sans-serif);
  font-weight: var(--font-weight-bold, 700);
  font-size: var(
    --font-size-title-mobile,
    clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)
  );
  font-style: var(--font-style-main, normal);
  line-height: 0.825;
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.footer::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  display: block;
  border-inline-end: 1px solid var(--header-decor-color, #ff0070);
  border-block-start: 1px solid var(--header-decor-color, #ff0070);
  block-size: 25px;
  inline-size: 25px;
}

.footer::after {
  content: "";
  position: absolute;
  bottom: 13px;
  left: 0;
  display: block;
  border-inline-start: 1px solid var(--header-decor-color, #ff0070);
  border-block-end: 1px solid var(--header-decor-color, #ff0070);
  block-size: 25px;
  inline-size: 25px;
}

@media (width >= 768px) {
  .page {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-block-start: 20px;
  }

  .decorated-zone::after {
    bottom: 40px;
  }
  .header__theme-menu {
    margin-block-start: 172px;
  }

  .header__title {
    align-self: center;
    margin-inline-start: -20px;
    margin-block-start: -42px;
  }

  .header__subtitle {
    margin-inline-start: auto;
    margin-block-start: 21px;
    max-inline-size: 50%;
  }

  .main {
    gap: 80px;
    margin-block-end: 20px;
    padding-block-start: 40px;
  }

  .main__section {
    grid-template-columns: 1fr 2fr;
  }

  .main__content_wide {
    grid-column: span 2;
    grid-row: 2;
  }

  .main__section_gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .main__gallery__list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 20px;
  }

  .main__gallery__picture {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main__gallery__item_wide {
    grid-column: 1 / 3;
  }

  .main__gallery__item_tall {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .main__gallery__item_portrait {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .main__gallery__item_panorama {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .footer__title {
    padding-block-start: 2px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer::before {
    top: 20px;
  }

  .footer::after {
    bottom: 20px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    margin-block-start: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    padding-block-start: 4px;
    font-size: 157px;
  }

  .header__subtitle {
    margin-block-start: 31px;
  }

  .main__section {
    gap: 10px;
  }

  .main__content_wide {
    padding-block-start: 10px;
  }

  .main__list_layout {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .main__section_gallery {
    gap: 20px;
  }
}
